h1 {
  font-family: "Libre Baskerville", serif;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 33px;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.parallax {
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2Fpoppies.jpg?v=1605626834398");
  min-height: 780px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.background {
  height: 1900px;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2Flake.jpg?v=1605626820753");
  background-size: cover;
  background-repeat: no-repeat;
}

.works img {
  width: 23%;
  margin: 10px;
  border: 2px solid #ddd;
  background-color: black;
  border-radius: 5px;
  padding: 3px;
}

/*Nav Bar*/
.topnav {
  z-index: 9999;
  background-color: rgba(180, 180, 180, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a:link {
  float: left;
  text-align: center;
  padding: 18px 35px;
  text-decoration: none;
  font-family: "Libre Caslon Display", serif;
  font-size: 22px;
  color: white;
}

.topnav.active {
  background-color: rgba(255, 99, 71, 0.5);
  color: white;
}
.topnav a:hover {
  background-color: rgba(248, 148, 6, 0.3);
  color: white;
}
.topnav a:visited {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;

  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(248, 148, 6, 0.3);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .button {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
    background-color: rgba(180, 180, 200, 0.5);
    color: white;
  }
  .topnav.responsive .dropdown .button {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

body {
  background-image: url(https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2Flake.jpg?v=1605626820753);
}
#sunrise {
  width: 25%;
  float: left;
  margin-right: 12px;
  border-color: orange;
  border-style: solid;
}

.container {
  position: relative;
}

.ml5 {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 58px;
  font-family: "Libre Baskerville", serif;
  color: white;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: black;
  padding: 2px;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
#arrow {
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3%;
}

#arrow {
    animation: fadeIn 1s infinite alternate;
}


@keyframes fadeIn { 
  from { opacity: 0; } 
}
/*About Monet*/

#potrait {
  width: 20%;
  float: right;
  margin-right: 12px;
}

.link a:link {
  background-color: #FF9966;
  padding: 15px 20px;
  border-radius: 7px;
  font-family: "Libre Caslon Display", serif;
  font-size: 19px;
  color: white;
}
.link a:visited {
  color: white;
}

.link a:hover {
  background-color: #FF9900;
  padding: 15px 20px;
  border-radius: 7px;
  color: black;
}

.works h2 {
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1400px;
  position: relative;
  margin-left: 2px;
  margin-right: auto;
  display: block;
}

.text {
  color: black;
  font-size: 18px;
  padding: 0px 12px;
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 42%;
  width: 1%;
  padding: 14px;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(255, 99, 71, 0.6);
  border: none;
  color: white;
  padding-right: 30px;
  display: inline-block;
  border-radius: 32%;
}

/* Position the "next button" to the right */
.next {
  color: white;
  background-color: rgba(255, 99, 71, 0.6);
  right: -6.5%;
  border-radius: 32%;
  padding-right: 30px;
  display: inline-block;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 99, 71, 1);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: rgba(255, 99, 71, 0.5);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .slide img {
    width: 100px;
  }
  .slideshow-container {
    width: 90%;
    margin-left: 2px;
    margin-right: auto;
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .prev,
  .next {
    font-size: 11px;
    padding: 2%;
  }
  .next {
    right: -10%;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
  .text {
    font-size: 11px;
  }
}

a {
  text-decoration: none;
}
body {
  font-size: 18px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 3.5%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*-----------------ABOUT PAGE-------------------------*/

.monet {
  margin-left: 2%;
  margin-top: 2%;
}

.header {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2F1024px-Claude_Monet_-_The_Magpie_-_Google_Art_Project.jpg?v=1605754872376");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 35px;
}

.header p {
  font-family: "Satisfy", cursive;
  font-size: 28px;
  color: black;

  margin-left: 1%;
}

.container3 {
  margin-right: 2%;
  width: 18%;
  float: right;
}
.container3:hover .image {
  opacity: 0.3;
}

.container3:hover .middle {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  #quote {
    font-size: 16px;
  }
}

#studio {
  width: 23%;
  float: left;
  margin-top: 1%;
  margin-right: 2%;
}

.giverny {
  text-align: center;
  font-size: 22px;
}

.giverny h2 {
  color: white;
  background-color:rgba(255, 187, 71, 0.3);


}

.flower {
  width: 4%;
}

@media only screen and (max-width: 550px) {
  iframe {
    width: 40%;
    height: 50%;
  }
}

#panel {
  padding: 50px;
  display: none;
  text-align:center;
}

/*-----------Impressionism---------------------*/

.header2 {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2Fpoppies.jpg?v=1605626834398");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 35px;
}

.header2 p {
  font-family: "Satisfy", cursive;
  font-size: 28px;
  color: white;
  margin-left: 1%;
}

@media screen and (max-width: 600px) {
  #imp {
    font-size: 35px;
  }
}

.container {
  position: relative;
  padding-bottom: 2%;
  width: 20%;
  float: right;
}

.image {
  opacity: 1;
  display: block;
  width: 20%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  position: relative;
  margin-right: 5%;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  position: relative;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 18px;
  padding: 2% 3%;
}

.container2 {
  position: relative;
  margin-top: 2%;
  width: 20%;
  float: left;
}

.image {
  opacity: 1;
  display: block;
  width: 20%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.container2:hover .image {
  opacity: 0.3;
}

.container2:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 18px;
  padding: 2% 3%;
  bottom: 20%;
}

/*--------------------Works-----------------*/

.active2 {
  background-color: rgba(250, 205, 0, 0.3);
}

.header3 {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2F2048px-Claude_Monet%2C_Saint-Georges_majeur_au_cr%C3%A9puscule.jpg?v=1606664893263");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 35px;
}

.header3 p {
  font-family: "Satisfy", cursive;
  font-size: 28px;
  color: white;
  margin-left: 1%;
}
.series {
  margin: 50px;
  margin-left: 120px;
  padding-top: 60px;
}

.series a:link {
  color: black;
  font-size: 32px;
  text-decoration: none;
  font-family: "Merriweather", serif;
}
.series a:visited {
  color: grey;
}

.series a:hover {
  color: orange;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}
/*----Image Grid------*/

* {
  box-sizing: border-box;
}

.row3 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column3 {
  flex: 25%;
  max-width: 50%;
  padding: 20px 15px;
  margin-right: 12px;
}

.column3 img {
  margin-top: 20px;
  vertical-align: middle;
  width: 130%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column3 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column3 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.grid {
  margin-right: 20px;
}

/*--------HAYSTACKS-----------------*/

.column4 {
  float: left;
  width: 27%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row4:after {
  content: "";
  display: table;
  clear: both;
}

.grid2 {
  width: 1080px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.row5 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column5 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column5 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column5 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column5 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

.header4 {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2F1024px-Wheatstacks_(End_of_Summer)%2C_1890-91_(190_Kb)%3B_Oil_on_canvas%2C_60_x_100_cm_(23_5-8_x_39_3-8_in)%2C_The_Art_Institute_of_Chicago.jpg?v=1607440841074");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 30px;
  font-family: "Libre Baskerville", serif;
}

.header4 p {
  font-family: "Satisfy", cursive;
  font-size: 28px;
  color: black;
  margin-left: 1%;
}

#hay {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 2%;
  margin-top: 20%;
  font-size: 30px;
}

.desc p {
  background-color: rgba(255, 99, 71, 0.5);
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 4%;
  margin-top: 80%;
  font-size: 30px;
}

@media screen and (max-width: 800px) {
  .desc p {
    font-size: 18px;
    padding:2%;
  }
}

#haystack{background-color:rgba(255, 187, 71, 0.4);}


.header5 {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2F1024px-Monet_Houses_of_Parliament%2C_Sunset.jpg?v=1607571755160");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 27px;
  font-family: "Libre Baskerville", serif;
}

.header5 p {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  color: white;
  margin-left: 1%;
}

.header6 {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2F512px-Claude_Monet_032.jpg?v=1607872093314");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 27px;
  font-family: "Libre Baskerville", serif;
}

#parliament{background-color:rgba(180, 180, 180,0.7);}
.header6 p {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  color: white;
  margin-left: 1%;
}

#rouen {margin-top:110%;
background-color:rgba(218, 127, 255, 0.4);
color:white;}

.header7 {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2FLa_gare_Saint-Lazare%2C_Les_signaux_1877_Claude_Monet.jpg?v=1607942923434");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 27px;
  font-family: "Libre Baskerville", serif;
}

.header7 p {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  color: white;
  margin-left: 1%;
}

#station {margin-top:40%;
background-color:rgba(46, 153, 255, 0.2);}

.header8 {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2F1024px-Monet-Tamise-Lyon.jpg?v=1607953867573");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 27px;
  font-family: "Libre Baskerville", serif;
}

.header8 p {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  color: white;
  margin-left: 1%;
}

#bridge {margin-top:20%;
background-color:rgba(46, 153, 255, 0.2);}

.header9 {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2F1024px-Claude_Monet_040.jpg?v=1607955796378");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 27px;
  font-family: "Libre Baskerville", serif;
}

.header9 p {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  color: white;
  margin-left: 1%;
}

#poplars {margin-top:120%;
background-color:rgba(34, 218, 14, 0.4);}



.header10{
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2F1024px-CLAUDE_MONET_1840_-_1926_NYMPH%C3%89AS_AVEC_REFLETS_DE_HAUTES_HERBES.jpg?v=1607957432976");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 27px;
  font-family: "Libre Baskerville", serif;
}

.header10 p {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  color: white;
  margin-left: 1%;
}

#lilies {background-color:rgba(34, 218, 14, 0.4);}
