/* CSS files add styling rules to your content */
body{background-color: lightgreen;
  }
body{background-image:url("https://cdn.glitch.com/c834edae-b9b8-45bc-b4d8-3f7800f2208c%2F1024px-Les_Tilleuls_%C3%A0_Poissy.png?v=1604567841255");
    background-repeat:no-repeat;
    background-size:cover;}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#boxes{background-color:white;}


  #name{
    margin-top: 10%;
    margin-left:76%;
  }

* {
  box-sizing: border-box;
}
.about{background-color:white;}

.box {
  float: left;
  width: 33.33%;
  padding: 20px;
  height:150px;
}
.pbox{background-color:pink;
overflow:auto;}
.gbox{background-color:lightgreen;}
.ybox{background-color:lightyellow;
overflow:auto;}
.cbox{background-color:cyan;}
.mbox{background-color:magenta;
      color:white;
      overflow:auto;}
.purpbox{
  background-color:purple;
  font-family: 'Caveat', cursive;
  color:white;
  font-size:25px;
  overflow:auto;
  }

.threecol{width:33.33%
}
.twocol{width:50%;}

.col{width:100%;}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width:800px) {
  .threecol, .twocol, .col {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/* unvisited link */
a{text-decoration:none;
  font-family:Arial;
  border:2px dashed yellow;
  
  
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  background-color: orange;
  color:white;
}

/* selected link */
a:active {
  color: red;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
