/*
.footer {
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:lightgreen;
  color: white;
  text-align: center;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.parallax {
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2Fpoppies.jpg?v=1605626834398");
  min-height: 780px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.background {
  height: 1900px;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2Flake.jpg?v=1605626820753");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-family: "Libre Caslon Text", serif;
}
h2 {
  font-family: "Merriweather", serif;
  font-size: 38px;
}
p {
  font-family: "Satisfy", cursive;
  font-size: 18px;
}

.works img {
  width: 23%;
  margin: 10px;
  border: 2px solid #ddd;
  background-color: black;
  border-radius: 5px;
  padding: 3px;
}

/*Nav Bar*/
.navi {
  z-index: 9999;
  background-color: rgba(180, 180, 180, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.navi a:link {
  float: left;
  text-align: center;
  padding: 18px 35px;
  text-decoration: none;
  font-family: "Libre Caslon Display", serif;
  font-size: 22px;
  color: black;
}
.navi a:hover {
  background-color: rgba(248, 148, 6, 0.3);
  color: white;
}
.navi a.active {
  background-color: rgba(255, 99, 71, 0.5);
  color: white;
}
.navi a:visited {
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navi .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navi a:not(:first-child) {
    display: none;
  }
  .navi a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .navi.responsive {
    position: relative;
  }
  .navi.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navi.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

body {
  background-image: url(https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2Flake.jpg?v=1605626820753);
}
#sunrise {
  width: 25%;
  float: left;
  margin-right: 12px;
  border-color: orange;
  border-style: solid;
}

.container {
  position: relative;
}

.ml5 {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: "Libre Caslon Display", serif;
  color: white;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: black;
  padding: 2px;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
#arrow {
  text-align: center;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3%;
}
/*About Monet*/
.about {
  padding-left: 20px;
  padding-top: 25px;
}
#potrait {
  width: 20%;
  float: right;
  margin-right: 12px;
}

.link a:link {
  background-color: #FF9966;
  padding: 15px 20px;
  border-radius: 7px;
  font-family: "Libre Caslon Display", serif;
  font-size: 19px;
  color: white;
}
.link a:visited {
  color: white;
}

.link a:hover {
  background-color: #FF9900;
  padding: 15px 20px;
  border-radius: 7px;
  color: black;
}

.works h2 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1400px;
  position: relative;
  margin-left: 0;
}

.text {
  color: black;
  font-size: 18px;
  padding: 0px 12px;
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 42%;
  width: 1%;
  padding: 14px;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(255, 99, 71, 0.6);
  border: none;
  color: white;
  padding-right: 30px;
  display: inline-block;
  border-radius: 32%;
}

/* Position the "next button" to the right */
.next {
  color: white;
  background-color: rgba(255, 99, 71, 0.6);
  right: -6.5%;
  border-radius: 32%;
  padding-right: 30px;
  display: inline-block;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 99, 71, 1);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: rgba(255, 99, 71, 0.5);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .slide img {
    width: 100px;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

a {
  text-decoration: none;
}
body {
  font-size: 18px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 3.5%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*-----------------ABOUT PAGE-------------------------*/

.monet {
  margin-left: 2%;
  margin-top: 2%;
}

.header {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2F1024px-Claude_Monet_-_The_Magpie_-_Google_Art_Project.jpg?v=1605754872376");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 35px;
  font-family: "Libre Caslon Display", serif;
}

.header p {
  font-family: "Satisfy", cursive;
  font-size: 28px;
  color: black;

  margin-left: 1%;
}

.card {
  position: relative;
  width: 20%;
  float: right;
}

.flip-card {
  background-color: transparent;
  width: 100px;
  height: 200px;
  perspective: 1000px;
  bottom: 15%;
  right: 100%;
  margin-top: 20%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 110%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  bottom: 40%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 120%;
  height: 120%;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

@media screen and (max-width: 800px) {
  .flip-card {
    background-color: transparent;
    width: 40px;
    height: 100px;
    perspective: 1000px;
    bottom: 15%;
    right: 100%;
    margin-top: 40%;
  }
}

#quote {
  font-size: 26px;
  color: rgba(255, 99, 71, 0.8);
  text-align: center;
  font-family: "Libre Caslon Display", serif;
}

#studio {
  width: 23%;
  float: left;
  margin-top: 1%;
  margin-right: 2%;
}

.monet h2 {
  font-family: "Merriweather", serif;
  font-size: 35px;
}
.monet p {
  font-family: "Lato", sans-serif;
}

/*-----------Impressionism---------------------*/

.header2 {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2Fpoppies.jpg?v=1605626834398");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 35px;
  font-family: "Libre Caslon Display", serif;
}

.header2 p {
  font-family: "Satisfy", cursive;
  font-size: 28px;
  color: white;
  margin-left: 1%;
}

.container {
  position: relative;
  padding-bottom: 2%;
  width: 20%;
  float: right;
}

.image {
  opacity: 1;
  display: block;
  width: 20%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  position: relative;
  margin-right: 5%;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  position: relative;
}



.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 18px;
  padding: 2% 3%;
}

.container2 {
  position: relative;
  margin-top: 2%;
  width: 20%;
  float: left;
}

.image {
  opacity: 1;
  display: block;
  width: 20%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle2 {
  position: relative;
  margin-right: 5%;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  position: relative;
}



.container2:hover .image {
  opacity: 0.3;
}

.container2:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 18px;
  padding: 2% 3%;
  bottom:20%;
}

/*--------------------Works-----------------*/

.header3 {
  padding: 100px;
  text-align: left;
  background-image: url("https://cdn.glitch.com/551ea48c-629d-471d-9ba8-38162f95b452%2F2048px-Claude_Monet%2C_Saint-Georges_majeur_au_cr%C3%A9puscule.jpg?v=1606664893263");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 35px;
  font-family: "Libre Caslon Display", serif;
}

.header3 p {
  font-family: "Satisfy", cursive;
  font-size: 28px;
  color: white;
  margin-left: 1%;
}
.series {
  margin: 50px;
  margin-left: 120px;
  padding-top: 60px;
}

.series a:link {
  color: black;
  font-size: 32px;
  text-decoration: none;
  font-family: "Merriweather", serif;
}
.series a:visited {
  color: grey;
}

.series a:hover {
  color: orange;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}
/*----Image Grid------*/

* {
  box-sizing: border-box;
}

.row3 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column3 {
  flex: 25%;
  max-width: 50%;
  padding: 20px 15px;
  margin-right: 12px;
}

.column3 img {
  margin-top: 20px;
  vertical-align: middle;
  width: 130%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column3 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column3 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.grid {
  margin-right: 20px;
}
